* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  font-family: 'Raleway', sans-serif;
  position: relative;
}

.color-wrap {
  display: block;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  height: 100%;
}

.color {
  display: block;
  width: 100%;
  transition: all .3s;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 1;
}

.color-options {
  opacity: 0;
  transition: all .3s;
  text-align: center;
}

.locking-icon {
  opacity: 0;
  transition: all .3s;
  height: 0;
  width: 0;
  display: inline-block;
}

.hex-code {
  opacity: 0;
  transition: all .3s;
  height: 0;
  width: 0;
  font-size: 0px;
  display: inline-block;
}

.generate-hex {
  opacity: 0;
  transition: all .3s;
  width: 0;
  height: 0;
  border: 3px solid white;
  font-size: 0px;
  display: inline-block;
  border: none;
  text-decoration: none;
}

.color:hover {
  z-index: 2;
  width: 150%;
}

.color:hover .color-options,
.color.locked .color-options {
  opacity: 1;
  align-self: start;
  margin-top: 200px;
}

.color.locked .color-options .locking-icon,
.color.locked .color-options .locking-icon img
.color.locked .color-options .hex-code{
  opacity: 1;
  height: 40px;
  width: 40px;
  display: inline-block;
  background-image: url(./images/001-padlock.png);
  background-size: 40px;
}


article:hover .locking-icon,
article:hover .locking-icon img {
  opacity: 1;
  height: 40px;
  display: inline-block;
  width: 40px;
  background-image: url(./images/padlock-unlock.svg);
  background-size: 40px;
}

article:hover .hex-code {
  opacity: 1;
  /* height: 30px; */
  width: 100px;
  font-size: 30px;
}

article:hover .generate-hex {
  opacity: 1;
  width: 80px;
  height: 40px;
  font-size: 20px;
}

.project-wrap {
  position: absolute;
  z-index: 10;
  bottom: 0;
  width: 100%;
  padding: 40px;
  background-color: rgba(0, 0, 0, .5);
  text-align: center;
}

.project-list {
  color: #ffffff;
  text-align: left;
}

.project-list header,
.new-palette header{
  display: block;
  margin: 0 0 30px 0;
  text-align: center;
}

.project-list li{
  display: inline-block;
  margin: 5px;
  vertical-align: middle;
}

.project-list li div {
  width: 20px;
  background-color: blue;
  height: 20px;
}

.delete-palette {
  width: 20px;
  height: 20px;
  background: none;
  border: none;
  background-size: 20px;
  background-image: url(./images/garbage.svg);
  cursor: pointer;
}

.project-block {
  display: inline-block;
  position: relative;
  width: 330px;
  border: 1px solid white;
  padding: 20px;
  text-align: left;
  margin: 5px;
  vertical-align: top;
}

.project-block h1 {
  margin: 0 0 15px 0;
}

.delete-project-button {
  position: absolute;
  bottom: 0;
  right: 0;
}

hr{
  display: none;
  margin: 30px 0;
}

.project-list {
  display: none;
}